# Vim YCM-related files
*.pyc
.ycm_extra_conf.*

# Vim swap files
*.swp
*.swo

# CLion files
.idea/
cmake-build-debug/

# **(Make up ya damn mind)**

# Emacs-swap files
*~
[#]*[#]
.\#*

# Emacs dir local file
.dir-locals.el

# Ignore python environment (for conversion scripts)
env/
